@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');


* {
  font-family:'Rubik', 'Padauk',sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    overflow-x: hidden;
    
}
header {
  background-image: linear-gradient(transparent, #5d9adb),
    url(./img1.jpg);
  background-size: cover;
  height: 30vh;
  background-position: center;
}
.heading-f {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding-top: 3rem;
  letter-spacing: 0.8;
  margin-bottom: 1rem;
}

.btn:link,
.btn:visited {
  position: absolute;
  right: 46%;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #101010;
  border-radius: 30px;
  border: 1px solid #fff;
  padding: 10px 23px;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  border: 2px solid #5d9adb;
  background-color: #f1f1f1;
  transition: all 0.5s;
  color: #101010;
}
.grid {
  display: grid;
  gap: 6rem;
}
.grid__3-columns {
  grid-template-columns: repeat(3, 1fr);
}
.contact-container {
  margin: 0 auto;
  padding: 6rem 10.2rem;
  background-color: #f1f1f1;
}
hr {
  opacity: 0.2;
  margin-bottom: 1rem;
}
.headings {
  text-transform: uppercase;
  letter-spacing: 3.5px;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.9rem;
  color: #fff;
}
/* label {
  display: inline-block;
  color: #101010;
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0;
} */
li {
  list-style: none;
  color: rgb(228, 225, 225);
  padding: 10px;
}
ul {
  display: inline-block;
}
.lists {
  font-weight: 450;
  font-size: 1.3rem;
}
.lists li:nth-child(2) {
  color: orange;
}
.input-box {
  background-color: rgb(53, 52, 52);
  padding: 0.2rem 0.6rem;
  border: 1px solid white;
  border-radius: 2rem;
  display: block;
}
.btn-1 {
  margin-top: 20px;
  padding: 0.2rem 4.2rem;
  border-radius: 8px;
  border: none;
}
.btn-1:hover {
  background-color: gray;
  border: 1px solid rgb(236, 113, 12);
  color: #fff;
  transition: all 0.4s;
}

.w-6-h-6 {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  color: rgb(212, 143, 13);
  margin: 10px 4px;
}
.footer-lists {
  background-color: #000;
  display: flex;
}
.footer-lists li {
  margin: 0px 10rem;
  padding: 1rem 3rem;
  font-weight: 480;
}
