{% extends 'base.html' %}

{% block title %} Articles by category {% endblock title %}

{% block content %}



    {% if articles.length != 0 %}
    
        {% for article in articles %}

            <div class="border-bottom mb-4 pb-4 article-preview">
                <div class="p-0 p-md-3">
                    <a class="fw-bold h4 d-block text-decoration-none"
                    href="{% url 'article_detail' article.id %}">
                        {{ article.title }}
                    </a>

                    <div class="small post-category mb-2">
                        <a href="{% url 'article_by_category' article.category_id.id %}" rel="category tag">
                            {{ article.category_id }}
                        </a> 
                    </div>

                    {% comment %} <div class="my-3 feature-image-box">
                        <img width="1024" height="682"
                            src="assets/images/de0d23dd-86f6-3ee1-a871-6325fb45bd06-1024x682.jpg"
                            class="attachment-large size-large wp-post-image" alt="">
                    </div> {% endcomment %}

                    <div class="text-black-50 the-excerpt">
                        <p>
                            {{ article.description|slice:"250"}}...
                        </p>
                    </div>

                    <div class="d-flex justify-content-between align-items-center see-more-group">
                        <div class="d-flex align-items-center">
                            {% comment %} <img alt="" src="assets/images/75d23af433e0cea4c0e45a56dba18b30.png"
                                class="avatar avatar-50 photo rounded-circle" height="50" width="50"
                                loading="lazy"> {% endcomment %}
                            <div class="">
                                <span class="small">
                                    <i class="feather-user"></i>
                                    {{ article.author }}
                                </span>
                                <br>
                                <span class="small">
                                    {{ article.created_at|date:"F d , Y" }}
                                </span>
                            </div>
                        </div>

                        <a href="{% url 'article_detail' article.id %}" class="btn btn-outline-primary rounded-pill px-3">Read More</a>
                    </div>
                </div>
            </div>

            {% empty %}

            <div class="mb-4 pb-4">
                <div class="py-5 my-5 text-center text-lg-start">
                    <p class="fw-bold text-primary">Dear Viewer</p>
                    <h1 class="fw-bold">
                        There is no article 😔 ...
                    </h1>
                    <p>Please go back to Home Page</p>
                    <a class="btn btn-outline-primary rounded-pill px-3" href="index.html">
                        <i class="feather-home"></i>
                        Blog Home
                    </a>
    
                </div>
            </div>

        {% endfor %}
    
    {% endif %}



{% endblock content %}
